.table-align{

    margin-top:25px;
    width:100%;
    font-family: oswald;

}

.custom-search{
    margin-top:2px;
    input {    
        border-radius: 5px;
        margin-right: 5px;
    }
     div {
          i {
               margin-right: 10px;
               
          }
          .custom-add{
              font-family: oswald;

          }
      
    }
}

.custom-modal-body {
    text-align: center;
}

.custom-modal-footer {
    border-top:none;
}
.resource{
    width :40%;
}
.save{
   width :40%; 
}