<div class="row">
    <div class="col-12 standard-page-title">
         <h4>Resource Loading</h4>
    </div>
    </div>


<div class="row">
 <div class="container-fluid table-align table-responsive">
   <form>
      <div class="row">
          <div class="col-6">
                <div class="form-group form-inline">
                    <label class="control-label col-3">SOW ID :</label>
                    <div class="col-8">
                         <input type="text" class="form-control">
                    </div>
                </div> 
                <div class="form-group form-inline">
                    <label class="control-label col-3">Project ID :</label>
                    <div class="col-8">
                         <input type="text" class="form-control">
                    </div>
                </div> 
                <div class="form-group form-inline">
                    <label class="control-label col-3">SOW Details :</label>
                    <div class="col-8">
                         <input type="text" class="form-control">
                    </div>
                </div> 
                <div class="form-group form-inline">
                    <label class="control-label col-3">Amendments :</label>
                    <div class="col-8">
                         <input type="text" class="form-control">
                    </div>
                </div> 
                 <div class="form-group form-inline">
                    <label class="control-label col-3">Start Date :</label>
                    <div class="col-8">
                          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
                    </div>
                </div> 
                 <div class="form-group form-inline">
                    <label class="control-label col-3">End Date :</label>
                    <div class="col-8">
                          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
                    </div>
                </div> 
          </div></div>
      </form>
    <div class="modal-footer save">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>

 </div>
</div>