.sow-footer {
   p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;    
        background-color: black;
        color: #ffffff;
        position: fixed;
        width: 100%;  
        bottom: 0;
        left: 0;
        margin-bottom:0px;
        padding: 5px 5px 5px 5px;
        
      }
}