 <div class="row">
    <div class="col-12 standard-page-title">
         <h4>Sow Resource Details</h4>
    </div>
    </div>


<div class="row">
 <div class="container-fluid table-align table-responsive ">
  
    <table class="table">
      <thead>
        <tr>
          <th>Jan</th>
          <th>Feb</th>
          <th>March</th>
          <th>April</th>
          <th>Total in PM</th>
          <th>Total in Hrs</th>
          <th>Rate</th>
          <th>Total Cost</th>
         
  
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{ sowEntry.businessUnit }}</td>
          <td>{{ sowEntry.SOW }}</td>
          <td>{{ sowEntry.sowDetails }}</td>
          <td>{{ sowEntry.sowValue }}</td>
          <td>{{ sowEntry.startDate }}</td>
          <td>{{ sowEntry.endDate }}</td>
          <td><i class="far fa-edit"></i></td>
          <td><i class="fa fa-trash" (click)="deleteRecord()"></i></td>
          
        </tr>
      </tbody>
    </table>
  <div class="modal-footer save">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
  </div>
</div>