.standard-page-title
{
        margin-top:10px;
        margin-left: 25px;
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
        font-family: oswald;
        color:#221f1f;
        

}
